@charset "UTF-8";

.txt-c {
  text-align: center;
}

body {
  font-family: "PT Mono";
}

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #FFF;

  .heroImage {
    img {
      height: 100vh;
      width: 100vw;;
    }
  }
  
  h1 {
    position: absolute;
    top: 24%;
    left: 20%;
    font-size: 68px;
    font-family:  "Arial Black", "Helvetica Neue", Helvetica, sans-serif;
  }
  .menu {
    position: absolute;
    top: 5%;
    right: 5%;

    li {
      float: left;
      list-style: none;
    }
    a {
      padding: 0 10px;
      color: #FFF;
      text-decoration: none;
    }
  }
  .subTxt {
    position: absolute;
    bottom: 40px;
    left: 40px;
    margin-top: 65px;
    line-height: 1.2;
    font-size: 24px;
  }
}

// 書いた物
main {
  color: #333;

  .oddSec {
    margin-top: 80px;
    padding-bottom: 40px;
    background-color: #F5F5F5;
  }

  h2 {
    padding-top: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .description {
    margin-top: 40px;
    text-align: center;
  }

  .devBox {
    width: 100%;
    margin-top: 40px;
    padding: 0 10px;

    &__cont {
      display: inline-block;
      vertical-align: top;
      width: 33%;
      padding-top: 40px;
      text-align: center;
      opacity: 0;

      &.cont1 {
        transition: all 500ms ease-out;
      }
      &.cont2 {
        transition: all 500ms ease-out 200ms;
      }
      &.cont3 {
        transition: all 500ms ease-out 400ms;
      }

      img {
        width: 100px;
        height: 100px;
      }
      p {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
      }

      &.anime {
        opacity: 1;
        padding-top: 0px;
      }
    }
  }
  
  .movieList {
    width: 100vw;
    margin-top: 40px;
    padding: 0 10vw;
    overflow: hidden;

    &__item {
      width: 24vw;
      float: left;
      margin-right: 4vw;
      margin-bottom: 4vw;
      padding-bottom: 20px;
      background-color: #FFF;
      border: 1px solid #CCC;
      &:first-child {
        margin-left: 0;
      }

      a {
        color: #333;
        text-decoration: none;
      }

      &__img {
        width: 100%;
        height: 300px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
      &__title {
        width: 90%;
        margin: 15px auto 0;
        font-weight: bold;
        text-align: center;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &__release {
        width: 80%;
        margin: 15px auto 0;
        padding: 15px 0 0;
        border-top: 1px solid #CCC;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

footer {
  padding-bottom: 80px;

  h2 {
    padding-top: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
}
